@import "styles/mixins";
.page {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/guide_bg.png");
  background-size: cover;
  border: none;
  font-family: "ALS Hauss", sans-serif;
  overflow: hidden;
}
.textblock {
  z-index: 2;
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 20rem;
}
.title {
  z-index: 1;
  font-weight: 700;
  font-size: 64rem;
  text-align: left;
  vertical-align: bottom;
}
.text {
  font-weight: 400;
  font-size: 32rem;
  line-height: 36rem;
  text-align: left;
  vertical-align: top;
}
.button {
  background-color: white;
  color: rgb(69.0625025331974, 153.3154347538948, 255, 1);
  width: 22%;
  border-radius: 36rem;
  border: none;
  padding: 18rem 4.2rem 18rem 4.2rem;
  font-weight: 700;
  font-size: 26rem;
  cursor: pointer;
  transition: 0.25s;
}

.imgContainer {
  position: absolute;
  width: 1280px;
  height: 800px;
  left: 0;
  top: 0;
  overflow: hidden;
}

.img1 {
  position: absolute;
  bottom: -15%;
  right: -5%;
  z-index: 1;
  max-width: 70%;
  overflow: hidden;
}
.img2 {
  position: absolute;
  bottom: 0%;
  right: 8%;
  z-index: 2;
  max-width: 55%;
}
.img3 {
  position: absolute;
  bottom: 0;
  right: -10%;
  z-index: 3;
  max-width: 50%;
}
