@import "styles/mixins";

.root {
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: 'Regular', sans-serif;
  color: white;
  background-color: black;

}

.canvasWrapper{
  height: 100vh;
  background-color: black;
  opacity: 0;
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: center;
}

.stickyWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  text-align: center;
}

.test {
  position: absolute;
  top: get-real-vh(30);
  font-size: 35rem;
  max-width: 500rem;
  color: white(0 210 109);;
}
.leftText {
  left: 110rem;
}

.firstTitleWrapper {
  width: 100%;
  height: get-real-vh(100);
  font-size: 125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.firstTitle {
  position: absolute;
  bottom: 200rem;
  padding-left: 95rem;
  letter-spacing: 120rem;
  white-space: inherit !important;
}

.first {
  top: 158rem;
  font-size: 18rem;
  left: 45rem;
  max-width: 567rem;
  text-transform: uppercase;
  position: relative;
}

.firstTextWrapper{
  position: relative;
  display: flex;
}

.second {
  display: flex;
  flex-direction: column;
  gap: 30rem;

  p {
    &:first-child{
      font-size: 50rem;
      font-family: 'Medium' , sans-serif !important;
    }
    font-family: 'Light', sans-serif;
    font-size: 25rem;
  }
}

.scrolldown {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  bottom: 50rem;
  font-size: 25rem;
  color: #8C8C8C;
}

.rightText {
  left: auto;
  right: 110rem;
}

.cardsWrapper{
  width: 100%;
  height: get-real-vh(130);
  position: relative;
  font-size: 150rem;
  // padding: 0rem 30rem 0rem 30rem;
  pointer-events: none;
}
