@import "styles/mixins";

.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: get-real-vh(100) !important;
background-color: black;
  z-index: 1000;
  // z-index: var(--layout-preloader);
}

.header {
  position: absolute;
  top: 40rem !important;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 42rem !important;
  font-size: 14rem !important;
  color: var(--color-white);
  font-family: 'Switzer', sans-serif;
  text-transform: uppercase;

  @include mobile {
    top: 24rem !important;
    padding: 0 20rem !important;
    font-size: 10rem !important;
  }
}

.progress {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 40rem !important;
  font-family: 'PF Din Text Cond Pro', sans-serif;
  font-weight: 300;
  font-size: 149rem !important;
  letter-spacing: -0.02em;
  color: var(--color-white);

  @include mobile {
    left: initial;
    right: 0;
    bottom: 30rem !important;
    font-size: 48rem !important;
  }
}

.maskCup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  height: 240rem;
  width: 240rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include mobile {
    width: 120rem;
    height: 120rem;
  }
}
