@import "styles/mixins";

.root {
  width: 100vw;
  height: 100vh;
  font-family: "ALS Hauss", sans-serif;
  color: white;
  pointer-events: none;
}

.canvasWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-blue);
}

.rootWrapper {
  display: flex;
  max-width: 1280rem;
  width: 100%;
  flex-direction: column;
}

.content {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 64rem;
}

.leftText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  z-index: 1;
  font-size: 28rem;
  font-weight: 700;
}

.text {
  font-size: 46rem;
  font-weight: 700;
  text-align: left;
  margin-top: 36rem;
}

.notion {
  color: rgba(255, 255, 255, 0.6);
  font-size: 26rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 36rem;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dataTable {
  margin-top: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dataText {
  font-size: 28rem;
  font-weight: 700;
}

.dataTitle {
  font-size: 28rem;
  font-weight: 500;
  margin-bottom: 28rem;
}

.dataNumber {
  font-size: 42rem;
  font-weight: 700;
  letter-spacing: 0rem;
}

.dataMeasure {
  font-size: 28rem;
  font-weight: 500;
  margin: 28rem;
}

.ccal {
  margin: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speed {
  margin: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dist {
  margin: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  margin-top: 10%;
}

.bottom {
  position: absolute;
  width: 90%;
  bottom: 7%;
  left: 5%;
  pointer-events: all;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: white;
  color: var(--light-blue);
  border-radius: 36rem;
  border: none;
  padding: 22rem 32rem 22rem 32rem;
  font-weight: 700;
  font-size: 18rem;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: white;
    background-color: var(--light-blue);
  }
}


.backgroundGradient{
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(92deg, #004394 1.52%, #489AFF 98.16%);
}