@import "styles/mixins";
.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(99.13deg, #00469a 5.73%, #b7d6fb 96.89%);
  font-family: "ALS Hauss", sans-serif;
  overflow: hidden;
}

.wrapper {
  margin: 64rem;
  max-width: 1350rem;
  width: 100%;
  flex-direction: column;
  display: flex;
}

.clouds {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/background/clouds.png");
  background-size: cover;
  position: absolute;
  top: 0;
}

.textblock {
  z-index: 2;
  color: white;
  width: 1200rem;
  height: 415rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 20rem;
}
.title {
  z-index: 1;
  font-weight: 700;
  font-size: 80rem;
  line-height: 84rem;
  text-align: left;
  vertical-align: bottom;
}
.text {
  font-weight: 400;
  font-size: 32rem;
  line-height: 36rem;
  text-align: left;
  vertical-align: top;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20rem;
}

.button {
  background-color: white;
  color: var(--light-blue);
  min-width: 240rem;
  border-radius: 100px;
  border: none;
  padding: 22rem 44rem;
  font-weight: 700;
  font-size: 24rem;

  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: white;
    background-color: var(--light-blue);
  }
}

.imgContainer {
  position: absolute;
  bottom: 25rem;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.img0 {
  position: absolute;
  bottom: 40rem;
  z-index: 1;
  overflow: hidden;
  width: 1437rem;
}
