@import "styles/mixins";

.root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 70, 154, 1), rgba(183, 214, 251, 1));
  // padding: 44rem;
  display: flex;
  justify-content: center;
}

.rootWrapper {
  // padding: 44rem;
  // margin: 44rem;
  margin-top: 44rem;
  display: flex;
  max-width: 1200rem;
  width: 100%;
  flex-direction: column;
}

.pageLayer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("/images/background/clouds.png");
  background-size: cover;
  pointer-events: none;
}

.navigationBack {
  height: 50rem;
  color: white;
  width: 180rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5rem;

  span {
    margin-top: 5rem;
    font-size: 18rem;
  }

  img {
    width: 8rem;
  }
  // transition: 0.25s;
}
.textBack {
  z-index: 1;
  font-weight: 400;
  font-size: 22rem;
}

.textblock {
  margin-top: 15rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  // position: fixed;

}
.title {
  font-weight: 700;
  font-size: 50rem;
  line-height: 50rem;
  letter-spacing: 0.02rem;
}
.text {
  font-weight: 500;
  font-size: 25rem;
  line-height: 25rem;
  text-align: left;
  color: rgba(240, 245, 249, 0.6);
}

.cards {
  border: none;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  margin-top: 20rem;
  justify-content: space-between;
}

.card {
  width: 380rem;
  height: 550rem;
  border-radius: 10rem;
  background-color: rgba(240, 245, 249, 1);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 20rem;
}

.cardLink {
  cursor: pointer;
}

.cardTextBlock{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.cardTitle {
  color: black;
  font-size: 27rem;
  margin-top: 25rem;
  font-weight: 500;
  letter-spacing: -0.04em;
  text-align: left;
 
}

.cardText {
  color: rgba(69, 153, 255, 1);
  position: absolute;
  top: 150rem;
  font-size: 18rem;
  font-weight: 500;
  line-height: 18rem;
  letter-spacing: 0em;
  text-align: left;
  width: 90%;
  z-index: 2;
}
.cardPic {
  z-index: 1;
  position: absolute;
  width: 220rem;
  bottom: 0;
  right: 0;

}

.cardZigZag {
  position: absolute;
  bottom: 20rem;
  left: 0;
  z-index: 1;
}
