@import "styles/mixins";

.page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 70, 154, 1), rgba(183, 214, 251, 1));
}

.pageLayer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("/images/background/clouds.png");
}
.navigationBack {
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 180rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: 0.25s;
}
.textBack {
  z-index: 1;
  font-weight: 400;
  font-size: 22rem;
}

.textblock {
  color: white;
  position: fixed;
  top: 10%;
  left: 5%;
}
.title {
  font-weight: 700;
  font-size: 80rem;
  text-align: left;
  vertical-align: top;
  line-height: 98rem;
  letter-spacing: 0.02rem;
}
.text {
  font-weight: 500;
  font-size: 42rem;
  vertical-align: top;
  line-height: 56rem;
  text-align: left;
  color: rgba(240, 245, 249, 0.6);
}

.cards {
  position: fixed;
  top: 30%;
  left: 5%;
  border: none;

  display: flex;
  color: white;
  width: calc(100% - 5% * 2);
  justify-content: space-between;
}
.card {
  width: 32%;
  height: 530px;
  border-radius: 2em;
  background-color: rgba(240, 245, 249, 1);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.cardLink {
  cursor: pointer;
}

.cardTextBlock{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  height: 50%;
  margin-top: 5%;
}
.cardTitle {
  color: black;
  font-size: 38rem;
  font-weight: 500;
  letter-spacing: -0.04em;
  text-align: left;
  margin-left: 8%;
}

.cardText {
  color: rgba(69, 153, 255, 1);
  font-size: 22rem;
  font-weight: 500;
  line-height: 26rem;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 8%;
  margin-top: 8%;
  width: 90%;
  z-index: 2;
}
.cardPic {
  z-index: 1;
  position: inherit;
  width: 70%;
  margin-left: 30%;
  margin-top: -60%;
}

.cardZigZag {
  position: absolute;
  bottom: 5%;
  z-index: 2;
}
