@import "styles/mixins";

.root {
  background-color: white;
  width: 100vw;
  height: 100vh;
  font-family: "Regular", sans-serif;
  color: white;
  background-color: black;
  
}

.preloader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: black;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50rem;
}

.canvasTrain {
  width: 100vw;
  height: 100vh;
  background-color: black;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;

  .count {
    position: absolute;
    z-index: 1;
    color: gray;
    font-size: 50rem;
  }
}

.buttonBack {
  position: absolute;
  top: 64rem;
  left: 64rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--light-blue);
  border-radius: 10rem;
  z-index: 10;
  height: 48rem;
  font-size: 18rem;
  width: 214rem;
}

.value {
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.detailsRoot {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 10rem;
  align-items: center;
  flex-direction: row;
  z-index: 1;
  top: 64rem;
  right: 64rem;
  width: 440rem;
  height: 152rem;
  background-color: var(--light-blue);
  overflow: hidden;

  div {
    width: 20rem;
    height: 80%;
    background-color: blue;
  }

  .current {
    background-color: white;
  }
}

.detailInfoRoot {
  position: absolute;
  display: flex;
  justify-content: space-around;
  padding: 10rem;
  flex-direction: column;
  z-index: 1;
  // transform: translateX(calc(100% + 64rem));
  top: 240rem;
  right: -100%;
  width: 440rem;
  height: 160rem;
  background-color: white;
  color: rgba(180, 47, 47, 1);
  border-radius: 10rem;
  border: 4rem solid rgba(180, 47, 47, 1);
}

.correct {
  border: 4rem solid var(--light-blue);
  color: var(--light-blue);
}

.detailsName {
  color: black;
  font-size: 24rem;
  font-weight: 600;
}

.detailstext {
  width: 65%;
  z-index: 2;
}

.detailsImg {
  position: inherit;
  right: 0;
}

.detailZig {
  position: inherit;
  right: 0;
  bottom: 20rem;
}

.starterMessageRoot {
  position: absolute;
  top: 136rem;
  left: 64rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16rem;
  padding: 24rem;
  padding-left: 56rem;
  border-radius: 10rem;
  width: 332rem;
  height: 196rem;
  color: white;
  z-index: 10;
  background-color: var(--light-blue);
}
