@import "styles/mixins";

.root {
  background-color: white;
  width: 100vw;
  height: 100vh;
  font-family: 'Regular', sans-serif;
  color: white;
  background-color: black;
}

.value {
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

