@import "styles/mixins";

.page {
  width: 100vw;
  height: 100svh;
  background-image: url("/images/guide_bg.png");
  background-size: cover;
  border: none;
}
.navigationBack {
  color: white;
  position: fixed;
  top: 40px;
  left: 64px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: white;
  }
}
.textBack {
  z-index: 1;
  font-weight: 400;
  font-size: 18px;
}

.textblock {
  color: white;
  position: fixed;
  top: 100px;
  left: 64px;
}
.title {
  font-weight: 700;
  font-size: 80px;
  text-align: left;
  vertical-align: top;
  letter-spacing: 1.6px;
  line-height: 84px;
  letter-spacing: 0.02em;
}
.text {
  font-weight: 500;
  font-size: 32px;
  vertical-align: top;
  letter-spacing: 0px;
  line-height: 36px;
  text-align: left;
}
.button {
  background-color: white;
  color: rgba(69.0625025331974, 153.3154347538948, 255, 1);
  width: 229px;
  height: 68px;
  border-radius: 48px;
  border: none;
  padding: 20px 64px 20px 64px;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: white;
    background-color: rgba(69.0625025331974, 153.3154347538948, 255, 1);
  }
}

.cards {
  position: fixed;
  top: 256px;
  left: 64px;

  display: flex;
  color: white;
  width: calc(100% - 64px * 2);
  justify-content: space-between;
}
.card {
  width: 502px;
  height: 700px;
  border-radius: 12px;
  background-color: rgba(240, 245, 249, 1);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.cardTitle {
  color: black;
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-align: left;
  margin-top: 50px;
  margin-left: 50px;
}

.cardText {
  color: rgba(69, 153, 255, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 50px;
  margin-top: 25px;
  width: 377px;
  z-index: 2;
}
.cardPic {
  z-index: 1;
  position: relative;
  bottom: 230px;
  left: 120px;
}
.cardPicMuseum {
  z-index: 1;
  position: relative;
  bottom: 159px;
  left: -15px;
}
.cardPicSoldier {
  z-index: 1;
  position: relative;
  bottom: 85px;
  left: 10px;
}
.cardZigZag {
  z-index: 2;
  position: relative;
  left: 0;
  bottom: 330px;
}
.cardZigZagMuseum {
  z-index: 2;
  position: relative;
  left: 0;
  bottom: 270px;
}
.cardZigZagSoldier {
  z-index: 2;
  position: relative;
  left: 0;
  bottom: 195px;
}
