.header {
    position: fixed;
    padding: 53rem 53rem 0rem 53rem;
    z-index: 10;
    font-family: 'PF Din Text Cond Pro', sans-serif;
    font-size: 25rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .rightWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 101rem;
    }
}