@import "styles/mixins";

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(99deg, #00469A 5.73%, #B7D6FB 96.89%), #FFF;
}

.wrapper {
  margin-top: 64rem;
  margin-bottom: 100rem;
  max-width: 1350rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.backBtn {
  color: white;
  width: 214rem;
  height: 48rem;
  gap: 12rem;
  border: none;
  border-radius: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.backText {
  z-index: 1;
  font-weight: 400;
  font-size: 22rem;
}

.textblock {
  color: white;
  margin-top: 28rem;
}
.title {
  font-weight: 700;
  font-size: 52rem;
  text-align: left;
  vertical-align: top;
  line-height: 52rem;
  letter-spacing: 0.02rem;
  margin-bottom: 20rem;
}
.text {
  top: 20rem;
  font-weight: 400;
  font-size: 24rem;
  line-height: 36rem;
  text-align: left;
  color: rgba(240, 245, 249, 1);
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.playBtn {
  background-color: white;
  color: var(--light-blue);
  width: 379rem;
  height: 68rem;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 24rem;
  z-index: 1;
  margin-top: 60rem;

  &:hover {
    color: white;
    background-color: var(--light-blue);
  }
}

.imgContainer {
  position: relative;
  width: 820rem;
  height: 460rem;
}
.img01 {
  position: absolute;
  right: 0;
  width: 320rem;
  margin-top: -50rem;
}
.img02 {
  position: absolute;
  width: 280rem;
  top: 170rem;
  left: 60rem;
}
.img03 {
  position: absolute;
  right: 140rem;
  width: 580rem;
}
.img04 {
  position: absolute;
  right: 0;
  bottom: -70rem;
  width: 320rem;
}

.clouds {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image: url("/images/background/clouds.png");
  background-size: cover;
  z-index: 0;
}
