@import "styles/mixins";

.root {
  --cr: 100%;
  --cl: 100%;

  position: fixed;
  width: 100vw;
  height: get-real-vh(100);
  background: var(--color-black);
  z-index: var(--layout-page-transition);
  pointer-events: none;
  clip-path: polygon(0% var(--cl), 100% var(--cr), 100% 100%, 0% 100%);
}
