@import "styles/mixins";
.root {
  width: 100vw;
  height: 100vh;
  font-size: 50rem;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.keyBoard {
  width: 90%;
  color: black;
  font-size: 20rem;
  position: absolute;
  bottom: 35rem;
  height: 200rem;
}

.waiting {
  width: 100rem;
  height:100rem;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 28%;
  height: 100%;
  padding: 84rem;
  padding-top: 0rem;
  gap: 80rem;
}

.backMenu {
  width: 279rem;
  height: 48rem;
  font-size: 18rem;
  margin-top: 64rem;
  padding: 28rem;
  border-radius: 10rem;

  color: var(--light-blue);
  font-weight: 500;
  border: none;
  background-color: rgba(69, 153, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
}

.backText {
  z-index: 1;
  font-weight: 400;
  font-size: 22rem;
}

.right {
  width: 72%;
  height: 100%;
  padding: 64rem 64rem 240rem 64rem;
  transition: all 0.5s ease-in-out;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    43deg,
    rgba(211, 231, 255, 0.8) 0%,
    rgba(26, 129, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: white;
  font-size: 40rem;
}

.helperRoot {
  // position: absolute;
  margin-top: 160rem;
  display: flex;
  width: 820rem;
  height: 196rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-content: stretch;
}

.aiChat {
  z-index: 1000;
  width: 200rem;
  height: 200rem;
  background-image: url("/images/aiChat.gif");
  background-size: 100%;
  align-self: flex-end;
  mix-blend-mode: multiply;
}

.text {
  font-size: 25rem;
  line-height: 22rem;
  border-radius: 10px;
  background: rgb(46, 180, 221);
  padding: 10rem;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 54rem;
}

.speechBubble {
  font-size: 18rem;
  font-weight: 500;
  line-height: 22rem;

  width: 600rem;
  height: 200rem;

  align-self: flex-end;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 24rem;
  color: var(--light-blue);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  background-image: url("/images/aiChat/line.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
  background-position-y: 34rem;
}

.triangle {
  width: 10rem;
  height: 10rem;
  margin-bottom: 15rem;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(255, 255, 255);
  border-left: 0px solid transparent;
  align-self: flex-end;
}

.wrapper {
  background-color: gray;
}

.speechBubbleTitle {
  color: black;
  font-size: 36rem;
}

.speechBubbleText {
  color: var(--light-blue);
  font-size: 16rem;
  line-height: 20rem;
}

.bottom {
  position: absolute;
  width: 72%;
  right: 0;
  bottom: 0;
  height: 120rem;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.bottomPart {
  height: 120rem;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.bottom::after {
  content: "";
  width: 1px;
  height: 90%;
  background-color: white;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  width: 80rem;
  height: 80rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: 95rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listeningIcon {
  width: 80rem;
  height: 80rem;
  border-radius: 50%;
  color: white;
  background-color: var(--light-blue);
  position: absolute;
  bottom: 95rem;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.3s, color 0.3s;
}

.listeningIcon::after,
.listeningIcon::before {
  content: '';
  position: absolute;
  border: 2px solid var(--light-blue);
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}

.listeningIcon::after {
  animation-delay: 1.25s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.bottomText {
  font-size: 18rem;
  line-height: 22rem;
  width: 370rem;
}
.listeningText {
  font-size: 18rem;
  line-height: 22rem;
  width: 370rem;
}

//chat

.chatRoot {
  transition: all 5ms;
  display: flex;
  // height: 540rem;
  flex-direction: column;
  justify-content: flex-end;
}

.messagesTemplateRoot{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16rem;

  .messagesTemplateWrapper {
    width: 80%;
    text-align: center;

  }

  .templateMes {
    border-radius: 0px 10px 10px 10px;
    background: var(--White-20, rgba(255, 255, 255, 0.20));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    margin-top: 16rem;
  }

  .tempDoubleWrapper {
    display: flex;
    
    gap: 16rem;
  }

  .temp1 {
    width: 450rem;
  }

  .temp2 {
    width: 400rem;
  }

  .temp3 {
    width: 269rem;
  }

  .temp4 {
    width: 184rem;
  }

  .temp5 {
    width: 353rem;
  }
}

.messages {
  width: 100%;
  position: relative;
  // height: 50%;
  transition: all 5ms;
  height: 540rem;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 0rem;
}



.messsageTest {
  height: 100%;
  width: 80%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem;
}

.message_container {
  width: 100%;
}

.bot_message {
  float: left;
  padding: 15rem 20rem;
  margin: 5rem;
  border-radius: 20rem 20rem 20rem 1rem;
  background: white;
  color: black;
  max-width: 60%;
  width: fit-content;
  font-size: 22rem;
  line-height: 26rem;
}

.user_message {
  float: right;
  padding: 15rem 10rem;
  margin: 10rem;
  text-transform: lowercase;
  border-radius: 20rem 20rem 1rem 20rem;
  background: white;
  color: black;
  max-width: 40%;
  width: 100%;
  font-size: 22rem;
  line-height: 26rem;
  word-break: break-word;
}

.keyBoardBtn {
  border: none;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  color: var(--light-blue);
  background-color: white;
  font-size: 16rem;
  // height: 29rem;
  text-align: center;
  padding-top: 10rem;
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.input {
  position: absolute;
  color: black;
  width: 100%;
  font-size: 20rem;
  display: flex;
  flex-direction: column;
  gap: 12rem;
  bottom: -30rem;
  align-items: center;
  justify-content: center;
}

.input > form > input[type="text"] {
  font-family: monospace;
  font-size: 16rem;
  border: 0;
  border-radius: 15rem;
  border-top: 1rem solid #eee;
  box-shadow: none;
  box-sizing: border-box;
  opacity: 1;
  outline: none;
  padding: 16rem 52rem 16rem 10rem;
  width: 100%;
  -webkit-appearance: none;
  display: flex;
}

.input {
  form {
display: flex;
gap: 16rem;
    width: 80%;
  }
}

.input > form > input:focus {
  outline: none;
}

.input > form > button {
  background-color: white;
  border: none;
  border-radius: 10rem;
  width: 155rem;
  font-size: 16rem;
  color: var(--light-blue);
  box-shadow: none;
  cursor: pointer;
  fill: #4a4a4a;
  opacity: 1;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;

  &::after {
    display: block;
 
    width: 10rem;
    height: 10rem;
    content: url('/images/aiChat/shape.svg');
  }
}
