@import "styles/mixins";

.root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(92deg, #004394 1.52%, #489aff 98.16%);
  display: flex;
  justify-content: center;
}

.rootWrapper {
  position: relative;
  margin-top: 44rem;
  display: flex;
  max-width: 1260rem;
  width: 100%;
  flex-direction: column;
  // align-items: center;
}
.backBtn {
  color: white;
  width: 200rem;
  height: 48rem;
  gap: 12rem;
  border: none;
  border-radius: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.backText {
  z-index: 1;
  font-weight: 400;
  font-size: 18rem;
}

.notification {
  height: 100rem;
  // position: absolute;
  width: 100%;
  margin-right: 30rem;
  color: white;
  font-weight: 600;
  font-size: 16rem;
  top: 200rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.5s ease-in-out;
  justify-content: space-between;
}

.notificationText {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 28rem;
}

.notificationImage {
  width: 50px;
  height: 50px;
  transition: width 0.5s ease-in-out;
}

.dataRoot {
  position: absolute;
  bottom: 160rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.dataWrapper {
  width: 90%;
  justify-content: space-between;
  display: flex;
}

.dataTitle {
  font-size: 24rem;
  font-weight: 700;
  margin: 26rem;
}

.dataNumber {
  font-size: 66rem;
  font-weight: 700;
}

.dataMeasure {
  font-size: 36rem;
  font-weight: 700;
  margin: 12rem;
}

.ccal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70rem;
}

.dist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speedNumber {
  font-size: 126rem;
  font-weight: 700;
}

.speedometer {
  position: absolute;
  left: 49%;
  top: 70%;
  width: auto;
  transform: translate(-49%, -70%);
  width: fit-content;
  z-index: 2;
  padding-bottom: 350rem;
}

.sunRays {
  position: relative;
  width: 100%;
  height: 100%;
}

.ray {
  position: absolute;
  width: 12rem;
  height: 56rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4rem;
  transform-origin: 50% 100%;
  transition: all 0.2s;
}

.route {
  position: absolute;
  width: 100%;
  bottom: 70rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-top: 160rem;
}

.textStart {
  width: 120rem;
  font-weight: 500;
  font-size: 18rem;
  text-align: center;
}
.textEnd {
  width: 120rem;
  font-weight: 500;
  font-size: 18rem;
  text-align: center;
}


.filled {
  background-color: white;
}

.red {
  background-color: rgba(180, 47, 47, 1);
}

.progressRoot {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 100rem;
}

.progressWrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.point {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: -12rem;

  .circle{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 15rem;
  }

  .stick {
    height: 60rem;
    opacity: 0.7;
    width: 2rem;
    background-color: white;
  }

  .textWrapper {
    width: 416rem;
    height: 142rem;
    z-index: 10;
    position: absolute;
    display: flex;
    bottom: 60rem;
    
    img {
      object-fit: cover;
    border-radius: 10rem;
      width: 100%;
    }
  }

  .text {
    background-color: white;
    color: black;
    text-align: center;
    width: 416rem;
    height: 142rem;
    bottom: -5rem;
    position: absolute;
    left: -50%;
    transform: translate(-50%);
  }
}

.onWayPointsWrapper {
  position: relative;
  display: flex;
  top: 0rem;
  width: 100%;
}

.iconContainer {
  position: relative;
  z-index: 1;

}

.item {
  position: absolute;
  offset-path: path("M0 14H62L82 26L120 1L160 26L198 1L237 26L276.5 1L314.5 26L353 1L393 26L430 1L470 26L508 1L546 26L586 1L624 26L662 1L702 26L740 1L779 26L798 14H852");
  transition: all 1.5s;
  offset-distance: var(--progress);
  top: -15rem;
}

.baseImage {
  // background-image: url("/images/onway/on_way_progress.png");
  position: absolute;
  height: 48px;
  z-index: 1;
}

.overlayimage {
  position: absolute;
  width: var(--progress-width);
  height: 48px;
  max-width: 100%;
  z-index: 2;
  background-image: url("/images/onway/on_way_progress_white.png");
  background-size: none;
  transition: width 0.25s ease-in-out;
}


//Fact-Icons

.factIcons {
  position: fixed;
  width: 70%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  height: 20%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  transition: all 0.5s ease-in-out;
}

.factIcon {
  position: absolute;
  margin: auto;
  top: 0;
  width: 50rem;
  height: 50rem;
  transform: translateX(-50%) translateY(200%);
  transition: all 0.25s ease-in-out;
}
.activeFact {
  position: absolute;
  min-width: 24%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.factDiv {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 6rem 6rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.factImg {
  width: 67px;
  object-fit: cover;
  padding: 6rem;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.factText {
  color: rgb(69, 153, 255);
  font-size: 14rem;
  font-weight: 500;
  transition: color 0.5s ease-in-out;
}

.backgroundImg{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}

.slider {
  width: 250rem;
  z-index: 999;
  right: 50rem;
  top: 150rem;
  position: absolute;
}

