@import "styles/mixins";

.page {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/guide_bg.png");
  background-size: cover;
  border: none;
  font-family: "ALS Hauss", sans-serif;
  color: white;
}
.navigationBack {
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: white;
  }
}
.textBack {
  z-index: 1;
  font-weight: 400;
  font-size: 26rem;
}

.notification {
  position: fixed;
  top: 4%;
  left: 35%;
  right: 35%;
  height: 10%;
  border-radius: 12rem;
  background-color: white;
  color: black;
  font-weight: 600;
  font-size: 16rem;

  text-align: left;
  padding: 1%;
  padding-left: 5%;
  box-shadow: 0 0 2% rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: width 0.5s ease-in-out;
}

.notificationText {
  color: gray;
  font-weight: 400;
  font-size: 18rem;
  margin-top: 2%;
}

.notificationImage {
  position: absolute;
  transform: translateX(-200%);
  padding-top: 5%;
}

.data {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.dataTitle {
  font-size: 32rem;
  font-weight: 700;
  margin: 38rem;
}

.dataNumber {
  font-size: 68rem;
  font-weight: 700;
}

.dataMeasure {
  font-size: 40rem;
  font-weight: 700;
  margin: 12rem;
}

.ccal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speedNumber {
  font-size: 126rem;
  font-weight: 700;
}

.speedometer {
  display: flex;
  justify-content: center;
  width: 50%;
  position: fixed;
  left: 28%;
  top: 40%;
}

.sunRays {
  position: relative;
  width: 22%;
  height: 60%;
}

.ray {
  position: absolute;
  width: 12%;
  height: 56rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 6rem;
  transform-origin: 50% 100%;
  transition: all 0.2s;
}

.filled {
  background-color: white;
}

.red {
  background-color: red;
}

.progressContainer {
  position: absolute;
  width: 76%;
  left: 12%;
  bottom: 5%;
  height: 6.6%;
  overflow: hidden;
}

.baseimage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  z-index: 1;
}

.overlayimage {
  position: absolute;
  width: var(--progress-width);
  height: 48px;
  max-width: 100%;
  z-index: 2;
  background-image: url("/images/on_way_progress_white.png");
  background-size: none;
  transition: width 0.5s ease-in-out;
}

.iconContainer {
  position: absolute;
  width: 95%;
  left: 2.5%;
  right: 2.5%;
  display: flex;
}

.icon {
  position: absolute;
  margin-top: 0.1%;
  width: 60rem;
  height: 60rem;
  z-index: 3;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.textStart {
  position: absolute;
  left: 3.2%;
  bottom: 6.4%;
  width: 8%;
  font-weight: 500;
  font-size: 24rem;
  text-align: center;
}
.textEnd {
  position: absolute;
  right:3.2%;
  bottom: 6.4%;
  width: 8%;
  font-weight: 500;
  font-size: 24rem;
  text-align: center;
}

//Fact-Icons
.factIcons {
  position: fixed;
  width: 70%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  height: 20%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
}

.factIcon {
  position: absolute;
  margin: auto;
  top: 0;
  width: 50rem;
  height: 50rem;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}

.activeFact {
  position: absolute;
  min-width: 24%;
  transform: translateX(-50%) translateY(200%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.factText {
  position: relative;
  top: -200%;
  bottom: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(69, 153, 255, 1);
  border-radius: 4rem;
  padding: 6rem 6rem;
  font-size: 20rem;
}
