

@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/ALSHauss-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/ALSHauss-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/ALSHauss-Hairline.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ALS Hauss';
  src: url("/fonts/ALSHauss-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family: 'ALS Hauss', sans-serif ;

  color: aliceblue;
}

