@font-face {
  font-family: "Regular";
  src: url("/fonts/NeueMachina-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Medium";
  src: url("/fonts/NeueMachina-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Light";
  src: url("/fonts/NeueMachina-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
