@import "styles/mixins";

.logo {
  display: block;
  width: 82rem;
}

.cup {
  width: 240rem;
  height: 240rem;
  clip-path: url(#age-gate-cup-bg);
  z-index: -1;

  @include mobile {
    width: 120rem;
    height: 120rem;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
