.app {
  background-color: #252d4a;
  background-image: url("/images/background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: 'ALS Hauss', sans-serif
}

.scoreSection {
  height: 100%;
  width: 100%;
  display: grid;
  font-size: 3em;
  justify-content: space-around;
  align-content: center;
}

.scoreText {
  color: #21262d;
  align-self: center;
  margin-bottom: 2em;
}

.scoreButton {
  width: 12em;
  height: 3em;
  font-size: 1em;
  color: #21262d;
  background-color: #f0f5f9;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
  box-shadow: 0em 0.1em 0.2em 0em rgba(0, 0, 0, 0.4);
}

.score-button:active {
  background-color: #0072bb;
  color: white;
  box-shadow: none;
}

/* QUESTION/TIMER/LEFT SECTION */
.quizContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.questionSection {
  display: flex;
  flex-direction: column;
  padding-left: 14%;
  font-size: 3em;
}
.questionCategory {
  padding-top: 4%;
  color: #21262d;

  font-weight: bold;
}
.questionCount {
  margin-top: 2em;
  font-size: 0.55em;
  font-weight: bold;
}

.questionCount span {
  font-size: 1em;
  color: #21262d;
  font-weight: bold;
}

.questionText {
  margin-top: 6%;
  margin-bottom: 6%;
  font-size: 2em;
  color: #37b3f1;
}

// .questionPicture {
//   margin-bottom: 12px;
//   width: 200px;
//   height: 150px;
//   object-fit: cover;
//   box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
// }

/* ANSWERS/RIGHT SECTION */
.answerSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  gap: 2em;
  justify-content: space-around;
  justify-items: center;
  padding-bottom: 6%;
}


@media screen and (min-width: 321px) and (max-width: 1181px) {
  .question-section {
    padding-left: 6%;
    font-size: 2em;
  }
}

.btn {
  width: 12em;
  height: 5em;
  font-size: 3em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0em 0.2em 0.2em 0em rgba(0, 0, 0, 0.4);

  margin: 0.8em 0.8em;

  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.btn:after {
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:before {
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Icon separator */
.btnSep {
  padding: 2em 2.5em 2em 2.5em;
}

.btnSep:before {
  background: rgba(0, 0, 0, 0.15);
}

/* Button 1 */
.btnOne {
  background: #0072bb;
  color: #fff;
}

.btnOne:active {
  background: #2980b9;
  top: 0.2em;
}

.btnOne:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
