.root {
  -ms-user-select: none; 
		-moz-user-select: none; 
		-webkit-user-select: none; 
		user-select: none; 
}

.aiChat {
    position: absolute;
    bottom: 0rem;
    z-index: 0;
    width: 200rem;
    height: 200rem;
    background-image: url("/images/aiChat.gif");
    background-size: 100%;
    position: absolute;
    margin-top: 20rem;
    right: 0;
    mix-blend-mode: multiply;
  }

  .wrapper {
    background-color: gray;
  }