.root {
  position: absolute;
  z-index: 1;
  width: 206rem;
  height: 206rem;
  left: 62rem;
  bottom: 52rem;

  .svg {
    transform: scaleX(-1);
  }

  .circle {
    fill: none;
    stroke: none;
  }

  .path_elapsed {
    stroke-width: 2.5rem;
    width: 1rem;
  }

  .path_remaining {
    stroke-width: 2.5rem;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }

  .timer_label {
    position: absolute;
    color: black;
    width: 206rem;
    height: 206rem;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 32rem;
    font-weight: 500;
    line-height: 36rem;
  }
  
  .time {
    font-size: 20rem;
    line-height: 22rem;
    font-weight: 500;
  }

  .white_text {
    color: white !important;
  }

  .outTime {
    opacity: 1 ;
    animation: fadeInFromNone 3s ease-out;
  }

  @keyframes fadeInFromNone {
    0% {
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    40% {
      opacity: 0;
    }
  
    60% {
      opacity: 1;
    }
  
    80% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
}

