.root {
  position: absolute;
  z-index: 1;
  width: 206rem;
  height: 206rem;
  left: 62rem;
  bottom: 52rem;

  .svg {
    transform: scaleX(-1);
  }

  .circle {
    fill: none;
    stroke: none;
  }

  .path-elapsed {
    stroke-width: 5rem;
    stroke: var(--light-blue);
  }

  .path-remaining {
    stroke-width: 5rem;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }

  .time {
    font-size: 20rem;
    line-height: 22rem;
    font-weight: 500;
  }

.timer__label {
  position: absolute;
  color: var(--light-blue);
  width: 206rem;
  height: 206rem;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32rem;
  line-height: 36rem;
    }
  }

  